/*reset del documento*/
*{
    padding: 0;
    margin: 0;
}

body{
    background: #ECD2F8;
}

p{
    font-family: Arial;
    font-size: 15px;
}

h2{
    text-align: center;
}

.mayusculas{
    text-transform: uppercase;
}

input[type=text],input[type=tel],input[type=email],select,textarea{
    width: 100%;
    padding:12px;
    border:  1px solid #ccc;
    resize: vertical;
}

label{
    padding: 12px 12px 12px 0;
    display: inline-block;
    float: right;
}

input[type=submit]{
    background-color:#4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    float: right;
}

.container{
    border-radius: 5px;
    background-color: rgb(57,207,102,0.3);
    padding: 40px;
}

.col-25{
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75{
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.row2{
    text-align: center;
    padding: 10px 10px, 10px 10px;
}

.boton{
    margin-top: 15px;
}

@media screen and (max-width: 600px){
    .col-25,.col-75,input[type=submit]{
        width: 100%;
        margin-top: 0;
    }
}